nav{
    background-color: rgb(16, 153, 207);      
    padding: 10px;
    text-align: center;
}
nav a{
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    color: white;
}
td, th{
    padding: 5px;
    padding-left: 20px;
}
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: rgb(16, 153, 207);
    color: white;
}
.flex-container {    
    display: flex;   
}